.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 0;
    row-gap: 10px;
}

.grid-container2{
    display:grid;
    grid-template-columns: 10% auto auto;
    gap: 10px;
}

.grid-container3{
    display:grid;
    grid-template-columns: auto;
    gap: 10px;
}

.grid-item{
    border: 1px solid rebeccapurple;
}